* {
    margin: 0px;
    padding: 0px;

}

/* --------HEADER-------- */
#navbar {
    height: 40px;
}

.container-fluid {
    height: 100px;
    font-size: larger;
    font-weight: 500;
}

/* ----------MAIN---------- */
h1 {
    margin-top: 100px;
    text-align: center;
    margin-bottom: 100px;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.25);
}

h4 {
    text-shadow: 4px 4px 2px rgba(0,0,0,0.15);
}

main div h4 {
    text-align: center;
}

.carousel-inner img:hover {
    transform: scale(1.5);
    transition: 2s;
}

.carousel-inner {
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.31);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.31);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.31);
}

main div {

    justify-content: center;
    padding: 0px;
}

main div img {
    margin-top: 100px;
    margin-bottom: 100px;
}

/* -------------FOOTER------------ */

footer {
    background-color: rgb(0, 0, 0);
    height: auto;
}

footer strong {
    color: white;
}

#text-2 {
    color: white;
}

#text-3 {
    color: white;
}

footer div .row div {
    display: flex;
    flex-wrap: nowrap;
    text-align: start;
}

footer div img {
    padding: auto;
}

h5 {
    color: white;
}

h6 {
    color: white;
}


/* -----------CONTACTO----------- */
/* --------HEADER-------- */
#navbar {
    height: 40px;
}

.container-fluid {
    height: 100px;
    font-size: larger;
    font-weight: 500;
}

/* ----------MAIN---------- */
h1 {
    margin-top: 100px;
    text-align: center;
    margin-bottom: 100px;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.15);
}

h2{
display: flex;
align-items: center;
justify-content: space-around ;
margin-top: 50px;
text-shadow: 4px 4px 2px rgba(0,0,0,0.15);
}

main div h4 {
    margin-top: 150px;
    text-align: center;
    margin-bottom: 150px;
}

main div {

    justify-content: center;
    padding: 0px;
}

main div img {
    margin-top: 100px;
    margin-bottom: 100px;
}

.row{
    margin: 10px;
}


/* -------------FOOTER------------ */

footer {
    background-color: rgb(0, 0, 0);
    height: auto;
    margin-top: 100px;
}

footer strong {
    color: white;
}

#text-2 {
    color: white;
}

#text-3 {
    color: white;
}

footer div .row div {
    display: flex;
    flex-wrap: nowrap;
    text-align: start;
}

footer div img {
    padding: auto;
}

h5 {
    color: white;
}

h6 {
    color: white;
}


/* -------------EMPRESA ------------------*/

/* --------HEADER-------- */
#navbar {
    height: 40px;
}

.container-fluid {
    height: 100px;
    font-size: larger;
    font-weight: 500;
}

/* ----------MAIN---------- */
h1 {
    margin-top: 100px;
    text-align: center;
    margin-bottom: 100px;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.25);
}

h4 {
    text-shadow: 4px 4px 2px rgba(0,0,0,0.15);
}

main div h4 {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.carousel-inner img:hover {
    transform: scale(1.5);
    transition: 2s;
}

.carousel-inner {
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.31);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.31);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.31);
}

main div {

    justify-content: center;
    padding: 0px;
}

main div img {
    margin-top: 150px;
    margin-bottom: 150px;
}

/* -------------FOOTER------------ */

footer {
    background-color: rgb(0, 0, 0);
    height: auto;
}

footer strong {
    color: white;
}

#text-2 {
    color: white;
}

#text-3 {
    color: white;
}

footer div .row div {
    display: flex;
    flex-wrap: nowrap;
    text-align: start;
}

footer div img {
    padding: auto;
}

h5 {
    color: white;
}

h6 {
    color: white;
}

/* ------------------------NUESTRO TRABAJO----------------------------- */


/* --------HEADER-------- */
#navbar {
    height: 40px;
}

.container-fluid {
    height: 100px;
    font-size: larger;
    font-weight: 500;
}

/* ----------MAIN---------- */
h1 {
    margin-top: 100px;
    text-align: center;
    margin-bottom: 100px;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.25);
}

h4 {
    text-align: center
}

h3{
    text-shadow: 4px 4px 2px rgba(0,0,0,0.15);
    text-align: center
}

main div {

    justify-content: center;
    padding: 0px;
}

main div img {
    margin-top: 100px;
    margin-bottom: 100px;
}

/* -------------FOOTER------------ */

footer {
    background-color: rgb(0, 0, 0);
    height: auto;
}

footer strong {
    color: white;
}

#text-2 {
    color: white;
}

#text-3 {
    color: white;
}

footer div .row div {
    display: flex;
    flex-wrap: nowrap;
    text-align: start;
}

footer div img {
    padding: auto;
}

h5 {
    color: white;
}

h6 {
    color: white;
}

/* ------------------RRHH-------------------- */
/* --------HEADER-------- */
#navbar {
    height: 40px;
}

.container-fluid {
    height: 100px;
    font-size: larger;
    font-weight: 500;
}

/* ----------MAIN---------- */
h1 {
    margin-top: 100px;
    text-align: center;
    margin-bottom: 100px;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.15);
}

h2{
display: flex;
align-items: center;
justify-content: space-around ;
margin-top: 50px;
text-shadow: 4px 4px 2px rgba(0,0,0,0.15);
}

main div h4 {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 150px;
}

main div {

    justify-content: center;
    padding: 0px;
}

main div img {
    margin-top: 100px;
    margin-bottom: 100px;
}

.row{
    margin: 10px;
}


/* -------------FOOTER------------ */

footer {
    background-color: rgb(0, 0, 0);
    height: auto;
    margin-top: 100px;
}

footer strong {
    color: white;
}

#text-2 {
    color: white;
}

#text-3 {
    color: white;
}

footer div .row div {
    display: flex;
    flex-wrap: nowrap;
    text-align: start;
}

footer div img {
    padding: auto;
}

h5 {
    color: white;
}

h6 {
    color: white;
}